@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');


:root {
   --branco-principal: #e7ce97 ;
   --cinza-secundario: #a8a8a8 ;
   --botao-principal: #F0B043;
   --cor-de-fundo: #000000;  
   --font-principal: 'Inter', sans-serif;
   --botao-azul-efeito:#dbba25;
   --branco-botao: #ffffff;


}

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
}

body  {
    background-color: var(--cor-de-fundo);
color: var(--branco-principal);
font-family: var(--font-principal);
font-size: 20px;
font-weight: 400;
}

.principal {
     background-image: url(img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;}

.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns:1fr 1fr ;
}

.container__titulo {
    font-size:  48px;
    font-weight: 700;

}
.container__botao {
    text-decoration: none;
    color: var(--branco-botao);
    background-color: var(--botao-principal);
    border-radius:8px ;
    padding: 1em;
    display: block;
    margin-bottom: 1em;

 }
 .botao__secundario {
    text-decoration: none;
    color: var(--branco-principal);
    background-color: transparent;
    border: solid 2px var(--branco-principal);
    border-radius:8px ;
  
 }

 .container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
    
 }

.container__caixa {
    margin: 0 6em;
    }

.secundario__imagem { 
    width: 100%;

}

.historia {
     background-image: url(img/transferir.jpg);
      background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.secundario {
    align-items: center;
    
}


.descricao__titulo{
    font-size: 48px;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 1em;
    text-align: center;
    }

.descricao__texto {
    color:var(--cinza-secundario) ;
    text-align: center;
}

.historia_historia{
    margin-bottom: 5%;
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;}

.container__art{
    display: flex;
}

.container__descricao {
    padding: 2em;
    width: 80%;
    
}

.video iframe {
    width: 90%;
    height: auto;
    aspect-ratio: 16/9;
   
}



.dispositivos {
    text-align: center;
    margin-top: 5%;
}

.dispositivos__titulo {
    font-size:48px ;
    font-weight: 700;
    color: var(--branco-principal);
}

.lista_item {
    font-size: 32px;
    color: var(--branco-principal);
    margin-top: 10%;
}

.dispositivos__icones{
    display: flex;
    gap: 8em;
    justify-content: center;
    list-style-type: none;
     margin: 5em 0;
}

.rodape{
    text-align: center;
}



.rodape__lista {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 16px;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 0% 10%;
}

.lista__link a {
    text-decoration: none;
   color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-principal);
}

.lista__link a:active {
    color: red }

.logo_clair {
    width: 350px;
    margin: 5%;
}

.container__botao:hover {
    background-color: var(--branco-principal);
    color: var(--cor-de-fundo);
 }

@media (max-width: 1200px) {
 .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        align-items: center;
        
    }
.container__caixa {
    margin: 0 1em;
    margin-bottom: 5%;
}
.container__titulo{
    margin-top: 50%;
    width: 100%;
}
.video {
    display: flex;
    width: 80%;
    margin-bottom: 5%;
    border-radius: 15%;
}

.container__art{
    display: flex;
    flex-direction:row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
     padding: 0.5em 0;
    margin-top: 10%;
}
.dispositivos
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

.dispositivos__icones {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
}

.dispositivos__icones img{
    flex-direction: row;
    justify-content: center;
    max-width:80px;
    height:auto;
    margin-bottom: 0;
}

.rodape__lista {
    display: grid;

}
}